<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
    <link rel="stylesheet" href="../../static/movies.css" />
</head>
<body>
<a href="/" class="powrot">powrót</a>
    <form action="{{ url_for('other_routes.movies') }}" method="post">
    <select name="sort" id="sort">
                        <option value=1>Tier</option>
                        <option value=2>Title</option>
                        <option value=3>Genre</option>
                      </select>
    <input type="submit" class="btn" value="Sort">
    </form>
    <table>
      <caption>AVAILABLE MOVIES:</caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Genre</th>
          <th>Tier</th>
        <tr>
      </thead>
      <tbody>
      {% for movie in movies %}
        <tr>
          <td>{{ movie.title }}</td>
          <td>{{ movie.genre }}</td>
          <td class="{% if movie.tier == 'Gold' %}Gold{% elif movie.tier == 'Silver' %}Silver{% else %}Bronze{% endif %}" >{{ movie.tier }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</body>
</html>

