<!DOCTYPE html>
<html>

<link rel="stylesheet" href="../../static/prices.css">
</html>

<body>
    <div class="container">
        <a href="/" class="powrot">powrót</a>
        <h2>Plans and Pricing</h2>
        <table>
            <tr>
                <th id="TT">Time</th>
                <th id="BR">Bronze</th>
                <th id="SV">Silver</th>
                <th id="GL">Gold</th>
            </tr>
            <tr>
                <td>1 Month</td>
                <td>2 $</td>
                <td>5 $</td>
                <td>10 $</td>
            </tr>
            <tr>
                <td>12 Months</td>
                <td>20 $</td>
                <td>50 $</td>
                <td>100 $</td>
            </tr>
        </table>
    </div>
</body>