{% extends 'other_routes/index.html' %}
{% block body %}
<link rel="stylesheet" href="../../static/css/authors.css" />
<h4 style="color: rgb(223, 13, 105)">Autorzy</h4>
<div class="panel">
    <div class="author">
        <img src="../../static/images/author1.png" alt="szymon"/>
        <p>Szymon Borzdyński</p>
        <p class="desc">Taki jeden psychopata</p>
    </div>
    <div class="author">
        <img src="../../static/images/author2.png" alt="kasia"/>
        <p>Katarzyna Matuszek</p>
        <p class="desc">Kolejny żołnierz poległy na froncie</p>
    </div>
</div>

{% endblock %}