<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Add movie </title>
        <link rel="stylesheet" href="/static/add_movie.css" />
    </head>
    <body>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Modify movie panel</h1>
             </div>
            <h2 class="word">
                <form action="{{ url_for('modify_movie') }}" method="post">
                  <div class="msg">{{ msg }}</div>

                    <label for="title_selector">Title to modify:</label>
                    <input id="title_selector" name="title_selector" type="text" placeholder="title to modify" class="textbox"/>

                    <label for="title">New title:</label>
                    <input id="title" name="title" type="text" placeholder="enter new movie title" class="textbox"/>

                    <label for="description">Description:</label>
                    <input id="description" name="description" type="text" placeholder="optional" class="textbox"/>

                      <label for="required_account_type">Required account tier:</label>
                      <select name="required_account_type" id="required_account_type">
                        <option value=0>No change</option>
                        <option value=2>Bronze</option>
                        <option value=3>Silver</option>
                        <option value=4>Gold</option>
                      </select>

                    <label for="genre_id">Genre:</label>
                      <select name="genre_id" id="genre_id">
                        <option value=0>No change</option>
                        <option value=1>horror</option>
                        <option value=2>akcji</option>
                        <option value=3>dokumentalny</option>
                        <option value=4>komedia</option>
                        <option value=5>obyczajowy</option>
                        <option value=6>klasyczny</option>
                        <option value=7>romantyczny</option>
                      </select>
                    <input type="submit" class="btn" value="MODIFY">
                </form>
            </h2>
          </div>
        </div>

        <table>
      <caption>ALL MOVIES in DATABASE:</caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Genre</th>
          <th>Tier</th>
        <tr>
      </thead>
      <tbody>
      {% for movie in movies %}
        <tr>
          <td>{{ movie.title }}</td>
          <td>{{ movie.genre }}</td>
          <td class="{% if movie.tier == 'Gold' %}Gold{% elif movie.tier == 'Silver' %}Silver{% else %}Bronze{% endif %}" >{{ movie.tier }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages()  %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>