<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
        <link rel="stylesheet" href="/static/register.css" />
    </head>
    <body>
    <a href="/" class="powrot">powrót</a>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div>
            <h2 class="word">
                <form action="{{ url_for('users.register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/>
                      <label for="account_type">Choose account type:</label>
                      <select name="account_type" id="account_type">
                        <option value=2>Bronze</option>
                        <option value=3>Silver</option>
                        <option value=4>Gold</option>
                      </select>
                    <input type="submit" class="btn" value="Register">
                </form>
            </h2>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('users.login')}}"> Login in here</a></p>
          </div>

        </div>
        {% with messages = get_flashed_messages()  %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>